[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
Django = ">=3.1.8"
django-allauth = "==0.43.0"
django-rest-auth-dj4 = ">=0.0.6"
attrdict = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
